<div class="header-search-menu">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">À boire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">viande et poisson</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">produits laitiers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Boulangerie et pâtisserie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">fruits & légumes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">épicerie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">sucreries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">cosmétiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">NOUVEAUTÉS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cadeaux</a>
        </li>
        <li class="nav-item">
            <a class="nav-link last" href="#">soldes</a>
        </li>
    </ul>
</div>