<div class="row w-100">
    <div class="col text-center p-0">
        Maturin
    </div>
    <div class="col-8 text-center p-0">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Rechercher..." aria-label="Rechercher..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
    </div>
    <div class="col text-center p-0">
        icons
    </div>
</div>