.carousel {
  .top-up-right {
    background-image: url("../../../assets/picture/top-up-right.png");
    height: 380px;
  }
  .top-down-right {
    background-image: url("../../../assets/picture/top-down-right.png");
    height: 170px;
  }
}